{% extends "base.html" %}

{% block content %}

<div class="grid place-items-center bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <div x-data="getReport()" x-init="init()">
        <button
            popovertarget="cally-popover1"
            class="input input-border"
            style="anchor-name:--cally1"
            x-text="date"
        ></button>

        <div popover id="cally-popover1"
                class="dropdown bg-base-100 rounded-box shadow-lg"
                style="position-anchor:--cally1">
            <calendar-date class="cally" @change="fromCalendar($event.target.value)">
            <svg aria-label="Previous" class="fill-current size-4" slot="previous" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M15.75 19.5 8.25 12l7.5-7.5"></path>
            </svg>
            <svg aria-label="Next" class="fill-current size-4" slot="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
            </svg>
            <calendar-month></calendar-month>
            </calendar-date>
        </div>
        <button id="btnExcel418" class="btn btn-neutral mt-4" type="button" @click="download()">Скачать</button>
        <button id="btnPdf418" class="btn btn-neutral mt-4" type="button" @click="downloadPdf()">Скачать PDF</button>
        <p class="text-error mt-2" x-show="error" x-text="error"></p>
    </div>

</div>

<script src="{{ url_for('static', path='js/report418.js') }}"></script>
{% endblock %}